body {
    background-color: coral;
}
/* element / tag selectors */
a {
    font-size: large;
    color: bisque;
}

#mainHeader {
    color: darkturquoise;
}

.favourite {
    font-size: xx-large;
    color:azure;
}
#united{
    width: 100%;
}
.car{
    width: 75%;
}

img {
    /* box-sizing: border-box; */
   width: 50%;
   /* border-width: 4px;
   border-color: black;
   border-style: solid;  */
   /* border: solid black 3px;
   padding: 10px;

   margin: 10px 33px; */
}

#headerContainer {
    border: solid green 3px;
}

.imageContainer {
    border: solid rgb(178, 226, 35) 3px;
    width: 600px;
}


#navbarContainer {
    border: blue solid 5px;
    width: 90vw;
    display:flex;
    justify-content: center;
}

#navbarContainer > nav {
    border: red solid 5px;
    width: 80%;
    display: flex;
    justify-content:space-around;
}

#navbarContainer > nav > a {
    border: black solid 2px;
}
